.button {
    width: 114pt;
    margin-top: 24pt;
    align-self: center;
}

.input {
    margin-bottom: 13pt;
}

.form {
    display: flex;
    flex-direction: column;
    min-width: 165.5pt
}