.comment {
    display: flex;
    padding: 14pt;
    gap: 13px;
    border-radius: 10pt;
    background-color: rgb(13 13 13);
}

.star {
    width: 8pt;
    height: 8pt;
    fill: rgb(255 221 45);
}

.disableStar {
    fill: rgb(120 120 120)
}

.avatarWrapper {
    width: 25pt;
    height: 25pt;
    margin-top: 3pt;
    border-radius: 50%;
    flex-shrink: 0;
    border: 1px solid rgb(120 120 120);

}



.comment h4 {
    font-size: 11pt;
}

.comment p {
    font-size: 9pt;
    margin: 11pt 0 8pt;
}