.card {
    display: flex;
    flex-direction: column;

}


.card img {
    width: 100%;
    height: 100%;
    border-radius: 12.5pt;
}

.card div {
    width: 224pt;
    height: 115pt;
    margin-bottom: 17.5pt;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    position: relative;
}

.card h4 {
    font-size: 11.5pt;
    margin-bottom: 6pt;

}

.card p {
    font-size: 9pt;
    white-space: pre-wrap;
}

.card .cardIndex {
    position: absolute;
    font-size: 45pt;
    left: 10pt;
    bottom: 0;
    line-height: 32pt;
    font-weight: bold;
}

.cardWithNum div {
    width: 220pt;
    height: 141pt;
    margin-bottom: 13pt;
}

@media screen and (max-width:760px) {
    .card h4 {
        font-size: 20pt;
        text-align: center;
    }

    .card p {
        font-size: 17pt;
        text-align: center;
    }

    .card div {
        width: auto;
        height: auto;
    }

    .cardWithNum div {
        width: auto;
        height: auto;

    }

}

.cardWithNum h4 {
    color: rgb(167 167 167);
    margin-bottom: 6.5pt;
    white-space: pre-wrap;
}